body {
    margin: 0px;
    background-color: black;  
}

body .message-list {
    font-family: Helvetica, sans-serif;
    text-align: left;
    color: lightgray;
    list-style-type: decimal;  
}

body .message-list .message {
    border-top: 1px solid lightgray; 
}

body .message-list .message .user-name {
    color: white;
    font-family: monospace;
}