body {
    margin: 0px;
    background-color: black; 
}

main {
    margin: auto;
    width: 40%;
    min-height: 100vh;
    height: auto;
    background-color: #515151;
}

main .image-container {
    margin: auto;
    width: 80%;
    height: auto;       
}

main .image-container .widget {
    height: auto;
    width: 100%;
}

main .track-name-output {
    display: block;
    width: 80%;
    text-align: center;
    margin: 2rem auto 2rem auto;
    color: black;
    font-size: 1rem;
}

main .buttons-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

main .buttons-container .buttons, main .buttons-container .playlists {
    padding: 1rem;
    width: 30%;
    color: white;
    background-color: black;
    font-size: 2rem;
    border: none;
}

main .buttons-container .buttons:active, main .buttons-container .playlists:active {
    outline: 1px solid white;
}

main .played-tracks-container {
    margin: 0rem 2rem 0rem 2rem;
    max-height: 20vh;
    overflow-y: auto;
    
}

main .played-tracks-container h1 {
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
}

main .address-text {
    text-align: center;
    vertical-align: bottom;
}
        
main .address-text .chat-link {
    text-align: right;
    font-size: 2rem;
}

.chat {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: auto;
    width: 30vh;
    padding: 10px;
    border: 1px solid black;
    background-color: #515151;
    font-family: Helvetica, sans-serif;
}

.chat .chat-caption {
    font-size: 0.5rem;
}

.chat .message-list {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: black;
    min-height: 10vh;
    max-height: 30vh;
    padding: 0px;
    text-align: left;
    color: lightgray;
    list-style-type: decimal; 
}

.chat .message-list .message {
    border-top: 1px solid lightgray;
    font-size: 0.5rem;
    margin-left: 1rem;
    max-width: 80%;
}

.chat .message-list .message .message-user-name {
    color: white;
    font-family: monospace;
    font-size: 0.7rem;
}

.chat .message-list .message .message-user-text {
    white-space: pre-line;
    word-wrap: break-word;
}

.chat .message-form .user-form-name {
    width: 100%;
} 

.chat .message-form .message-form-text {
    width: 100%;
    height: 40%;
}

.chat .message-form .send-button, .chat .message-form .reset-button {
    width: 50%;
}

@media screen and (max-width: 767px) {
  main {
    width: 90%;
  }

  main .buttons-container .buttons, main .buttons-container .playlists {
        padding: 0.5rem;
        font-size: 1rem;
    }
}